$main-background-color: #272822;
$main-second-background-color: #3C3F41;

$input-background-color: #323232;
$input-disabled-background-color: #494949;
$borders-color: #3a3c31;
$item-borders-color: #2c2e26;
$buttons-borders-color: #494c3e;
$text-color: #cacaca;
$button-text-color: #d4d4d4;
$button-text-color-disabled: #818181;
$placeholder-color: rgba(187, 187, 187, 0.29);

$button-color-gradient-top: #3a3a3a;
$button-color-gradient-bottom: #383838;

$button-focus-color-gradient-top: #364861;
$button-focus-color-gradient-bottom: #29374B;

$main-color: rgba(45, 140, 240, 0.63);
$main-color-active: rgba(44, 133, 229, 0.45);

body.darkTheme {
    .topBar {
        background-color: #1f201d;
        border-bottom-color: $borders-color;
        color: $text-color;
        & .actionBtn {
            color: #ededed;
        }
    }

    .board-item {
        border-bottom: 1px solid $borders-color;
    }

    .board-item:hover {
        background-color: $main-second-background-color;
    }

    .board-item.board-disabled {
        background-color: $main-second-background-color;
    }

    .findItem {
        border: 1px solid transparent;
    }

    .findItem:focus {
        border: 1px solid $main-color-active;
    }

    .filteredBoard {
        background-color: $input-background-color;
    }

    background-color: $main-background-color;

    .ivu-tabs.ivu-tabs-card {
        color: $text-color;
    }

    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
        background-color: #202020;
        border-color: $borders-color;
    }

    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
        color: $main-color;
        background-color: $main-background-color;
    }

    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active:focus {
        color: $main-color;
    }

    .ivu-input:focus {
        border: 1px solid $main-color-active;
    }

    .ivu-tabs-bar {
        border-bottom-color: $borders-color;
    }

    .ivu-tabs-nav-container:focus .ivu-tabs-tab-focused {
        border-color: $main-color-active !important;
    }

    .ivu-checkbox-inner {
        background-image: linear-gradient(to bottom, $button-color-gradient-top, $button-color-gradient-bottom);
        border-color: #3B3E40;
    }

    div.fixedTabs .ivu-tabs-bar {
        background-color: $main-background-color;
        box-shadow: 0 0 0 6px $main-background-color;
    }

    .ivu-modal-footer {
        border-top: 1px solid $borders-color;
    }

    .ivu-modal-confirm-head-title {
        color: $text-color;
    }

    .ivu-modal-confirm-body {
        color: $button-text-color;
    }

    .ivu-collapse {
        background-color: $main-background-color;
        border-color: $borders-color;
        .ivu-collapse-header {
            color: $button-text-color;
        }
        .ivu-collapse-content {
            background-color: $main-background-color;
            color: $button-text-color;
        }
        & > .ivu-collapse-item {
            border-top-color: $borders-color;
        }
    }

    input {
        background-color: $input-background-color;
        color: $text-color;
        border: $borders-color;
    }

    input::placeholder {
        color: $placeholder-color;
    }
    input[disabled] {
        background-color: $input-disabled-background-color;
        color: $text-color;
    }
    .tab-content {
        background-color: $main-background-color;
    }

    .item {
        border-bottom-color: $item-borders-color;
    }

    button {
        background-color: transparent;
        border-color: $buttons-borders-color;
        color: $button-text-color;
    }

    button:hover {
        background-color: $input-background-color;
        border-color: $buttons-borders-color;
        color: $button-text-color;
    }

    button.ivu-btn-circle {
        border-color: $buttons-borders-color;
        color: $button-text-color;
    }

    button.ivu-btn-circle:disabled {
        border-color: $buttons-borders-color;
        color: $button-text-color-disabled;
        background-color: $main-second-background-color;
    }

    button.ivu-btn-primary {
        color: $button-text-color;
        background-image: linear-gradient(to bottom, $button-color-gradient-top, $button-color-gradient-bottom);
        border: $buttons-borders-color;
        transition: all .3s;
    }

    button.ivu-btn-primary:hover {
        color: $main-color-active;
    }

    button.ivu-btn-icon-only {
        background: transparent;
        border: 1px dashed $borders-color;
        color: $button-text-color;
    }

    button:focus {
        color: $text-color;
        background-image: linear-gradient(to bottom, $button-focus-color-gradient-top, $button-focus-color-gradient-bottom);
    }

    .ivu-switch {
        background-color: transparent;
        border-color: $buttons-borders-color;
    }

    .ivu-switch:after {
        background-color: $button-text-color;
    }

    .ivu-switch.ivu-switch-checked {
        background-color: $main-color;
        border-color: $main-color-active;
    }

    .ivu-modal-content {
        background-color: $main-background-color;
        color: $text-color;
        .ivu-modal-header {
            border-bottom-color: $borders-color;
            .ivu-modal-header-inner {
                color: $text-color;
            }
        }
        .title {
            border-bottom-color: $borders-color;
        }
    }

    .ivu-message-notice-content {
        background: $main-second-background-color;
        color: $text-color;
    }

    .row.title-row {
        border-bottom: 1px solid $borders-color;
    }

    .ivu-select-dropdown {
        background-color: $main-background-color;
        border-color: $borders-color;
    }

    .ivu-dropdown-item {
        color: $text-color;
    }

    .ivu-dropdown-item:hover{
        background-color: $main-second-background-color;
    }

    .ivu-dropdown-item-divided {
        border-top: $item-borders-color;
    }

    .movable-icon {
        color: $main-color;
        opacity: .5;

    }

    .status-bar {
        color: $text-color;
        border-color: $borders-color;
        background-color: $main-background-color;
    }

}








